.custom-jumbotron {
    background-image: linear-gradient(to right, rgb(172, 172, 255), rgb(168, 249, 249));
    color: white;
}

.custom-display {
    font-weight: bolder;
}

.current-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.five-day-forecast {
    display: flex;
    flex-wrap: wrap;
}

.current-weather-conditions{
    list-style: none;
}